---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('January 07 2025')}
>
	<p>
		Hello, I'm Lucas Souza. I'm a software engineer, this is my personal blog where I write my random ideas about software development, technology, and other things.
	</p>

	<p>A good part of this idea is to talk about itself and the process of development involved on creating it.</p>
</Layout>
